$hacker: (
    footer-background-color: #000000,
    footer-color: #55ff55,
    link: #55ffff,
    link-hover: #ff5555,
    title-color: #55ffff,
    meta-color: #5555ff,
    body-color: #55ff55,
    hr-color: #6B6B6B00,
    body-background-color: #000000,
    backdrop-background-color: #000000,
    dropdown-border-top-color: #6B6B6B00,
    dropdown-item-active-background-color: lighten(#000000, 12%),
    dropdown-content-background-color: lighten(#000000, 5%),
    dropdown-item-hover-background-color: lighten(#000000, 20%),
    dropdown-item-hover-color: #55ffff,
    dropdown-item-color: #FCFCFA,
    navbar-border-bottom-color: #42424200,
    navbar-background-color: #000000,
    navbar-mobile-background-color: #323232,
    navbar-title-color: #00ff00,
    navbar-title-hover-color: #55ff55,
    navbar-title-active-color: #ffff55,
    navbar-menu-hover-background-color: lighten(#000000, 20%),
    navbar-dropdown-item-hover-color: #55ffff,
    sidebar-title-color: #00ff00,
    sidebar-li-color: #A1AD64,
    taxo-title-color: #9c9299,
    taxo-num-color: #00ff00,
    taxo-num-background-color: #000000,
    taxo-tags-background-color: lighten(#000000, 10%),
    taxo-tags-color: #78DCE8,
    taxo-series-background-color: lighten(#000000, 10%),
    taxo-series-color: #5555ff,
    taxo-categories-background-color: lighten(#000000, 10%),
    taxo-categories-color: #AB9DF2,
    breadcrumb-item-color: #55ffff,
    breadcrumb-background-color: #000000,
    breadcrumb-item-active-color: #bdbdbd,
    list-header-title-color: #A1AD64,
    figcaption-color: #55ff55,
    figcaption-strong-color: #FCFCFA,
    single-hr-background-color: #55ffff,
    single-blockquote-border-color: #55ffff,
    single-header-title-color: #FCFCFA,
    single-contents-title-color: #A1AD64,
    single-contents-subtitle-color: #FCFCFA,
    related-header-title-color: #FCFCFA,
    related-link-color: #55ff55,
    content-box-border-color: #6B6B6B00,
    content-box-background-color: #000000,
    burger-menu-color: #dbdbdb,
    social-icon-color: #9e9e9e,
    social-icon-hover-color: lighten(#9e9e9e, 20%),
    pagination-link-color: #996287,
    pagination-background-color: #000000,
    pagination-disabled-color: #424242,
    pagination-number-color: #FCFCFA,
    terms-title-color: #55ff55,
    terms-title-shadow-color: #000000,
    terms-tags-color: #78DCE8,
    terms-categories-color: #AB9DF2,
    terms-series-color: #5555ff,
    terms-len-color: #55ffff,
    toc-label-color: #727072,
    toc-title-color: #727072,
    toc-vertical-line: #727072,
    toc-vertical-line-active: #55ffff,
    toc-header-background-color: lighten(#000000, 7%),
    toc-header-background-color-hover: lighten(#000000, 5%),
    toc-body-background-color: lighten(#000000, 3%),
    search-placeholder-color: #727072,
    search-color: #55ff55,
    search-icon-color: #727072,
    search-border-color: #0d0e0f,
    search-border-outline-color: rgba(161, 173, 100, 0.2),
    search-border-active-color: #414141,
    search-background-color: #000000,
    search-content-color: #55ff55,
    search-content-background-color: #000000,
    search-hover-background-color: lighten(#000000, 14%),
    search-highlight-color: red,
    selection-color: #FCFCFA,
    selection-background-color: #55ff55,
    archive-key-color: #FCFCFA,
    archive-type-color: #FCFCFA,
    archive-meta-color: #00ff00,
    archive-key-background-color: #55ffff,
    archive-type-background-color: #855E78,
    archive-hover-line-color: #00ff00,
    gtt-color: #9e9e9e,
    gtt-background-color: #000000,
    gtt-hover-color: #00ff00,
    gtt-hover-background-color: lighten(#000000, 5%),
    switch-background-color: #403E41,
    switch-button-color: #FCFCFA,
    switch-active-color: #00ff00,
    gallery-mask-color: #FCFCFA,
    gallery-mask-background-color: rgba(0, 0, 0, 0.7),
    contact-input-color: #FCFCFA,
    contact-input-background-color: lighten(#000000, 4%),
    contact-button-background-color: lighten(#000000, 4%),
    custom-scrollbar-foreground-color: #616161,
    custom-scrollbar-background-color: #FCFCFA,
    share-color: #dbdbdb,
    share-shadow-color: #888,
    share-background-color: #383b4c,
    donation-background-color: #43454d,
    button-primary-color: $button_hacker_primary_color,
);