<!-- override this file -->
<meta name="google-site-verification" content="PesTTnV0DnFwFe5WBqsvUkWgTL97PqzrLdpcDqrXY04" />
<script data-ad-client="ca-pub-7394573985119069" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RK0FEL1ZFC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RK0FEL1ZFC');
</script>
<meta name="yandex-verification" content="cabeeec39b925e63" />
